<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
       This is signup page
       <div class="container">
        Login
        <div>
            <input type = "text" placeholder="ID">
        </div>
        <div>
            <input type = "password"  placeholder="Password">
        </div>
        <div>
            <input type = "name"  placeholder="Name">
        </div>
        <div> 
            <input type="submit" value="확인">
        </div>

    </div>

    <div class="footer">
        <a href="/">메인화면</a>
    </div>

    </body>
</html>